body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100%;
  background-color: #d9e1e8;
  color: #282c37;
}

ul {
  list-style: none;
}

.container, .homeContainer, .listContainer {
  display: flex;
  
}

.container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.homeContainer, .listContainer {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  height: 30%;
}

.searchbar, .link, .homeLink, .result {
  width: 100%;
  height: 50px;
  text-align: center;
}

.searchbar {
  font-size: 2em;
}

.resultLink {
  text-decoration: none;
}

.homeLink, .allLink {
  color: #2b90d9;
  padding-top: 10px;
}

/* .movieLink {
  width: 100%;
  
} */

.movieLinkList {
  width: 100%;
  padding: 0 0 5px 0;
  text-align: center;
}

/* .genreContainer, .storyContainer, .castContainer, .awardsContainer, .altTitleContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
} */

.title {
  width: 100%;
  font-size: 2em;
  text-align: center;
  height: 50px;
}

.year {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  height: 30px;
}

.genres, .story, .cast, .awards, .altTitle {
  width: 100%;
  height: 5%;
  text-align: center;
  color: #2b90d9;
}

.genreResults,  .description, .names, .awardDetails, .altTitleDetails {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-bottom: 10px;
}

